.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15%;
}

.article p {
    opacity: 70%;
    margin-top: 10px;
}

.article h2 {
    line-height: 32px;

}

@media screen and (min-width: 800px) {
    .article .h2, .p {
        padding: 0 20%;
    }
    
}
/* media quiry for devices width in range[940, 1160]px */
@media screen and (min-width: 940px) and (max-width: 1160px) {
    .article {
        margin-top: 15%;
    }
}

