.bot .btn1 {
    padding: 10px 25px;
    border-radius: 30px;
    outline: none;
    border: none;
}
.bot p{
    opacity: 70%;
}

.bot h2 {
    line-height: 32px;
}

.bot p, .btn-div {
    margin-top: 20px;
}

.bot {
    max-width: fit-content;
    margin-top: 15%;
}

.bot .btn1:last-of-type {
    margin-left: 25px;
}

.bot .color-two {
    color: white;
    background-color: #0C1014;
    border: 1px solid white;
}

.bot .card-class {
    /* responsive grid item styling*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:  all 500ms;
    overflow: hidden;
    height: 100%;
    
    min-height: 180px;
  }
  
.bot .basic-grid{
    display: grid;
    gap: 1rem;

    /* responsive grid styling*/
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  }

  .bot img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    max-height: 400px;
}

/* media quiries are written below */

@media screen and (max-width: 843px)  {
    .bot .card-class:last-of-type {
        margin-top: 10%;
    }

    .bot {
        margin-top: 30%;
    }   

}

@media screen and (min-width: 1200px) {
    .bot .basic-grid{
        gap: 10rem;
    }
}



@media screen and (max-width: 480px) {
    
    .bot .btn1 {
        display: block;
        max-width: 200px;
        padding: 7px 12px;
        font-size: medium;
        font-weight: 480;
    }
    .bot .btn1:last-of-type {
        margin-top: 15px;
        margin-left: 0px;
    }

    .bot .card-class:last-of-type {
        margin-top: 10%;
    }

    .bot .basic-grid{

        /* responsive grid styling*/
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
      }
    
}